/*  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Tous les styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f09090;
}
.form-container {
  
    margin: 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(56, 52, 52, 0.1);
    
}
header {
    background-color: #333;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    justify-content: center;
    
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #d96614;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
}

#taskList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.task-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin: 15px;
}

.task-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.task-card p {
    margin-bottom: 10px;
}

.task-card button {
    background-color: #d91b14;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: justify;
}

.task-card button:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
}

/* Styles pour le responsive */
@media screen and (max-width: 600px) {
    header {
        height: 40px;
        font-size: 18px;
    }

    form input,
    form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    form button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .form-container {
        margin: 15px;
    }
}

